/* Selektor znacznika */    
h1{
    color: white;
    font-size: 1.8em;
}

body{
    background-color: #808080
}


div {
    width: 250px;
    margin-bottom: 4px;

  }

  #taller {
    height: 100px;
    width: 150px;
    background-color:#fea500
  }

  #shorter {
    height: 100px;
    width: 150px;

    background-color:#fea500
       }

    #parent {
      height: 100px;
      width: 150px;
      background-color:#fea500
  }

  #child{
      height: 100px;
      width: 150px;
      background-color: #fea500