/* Selektor znacznika */    
h1 {
    color: white;
    font-size: 1.8em;
}

body {
    background-color: #808080
}

 
  #taller, #shorter, #parent, #child {
    height: 100px;
    width: 150px;
    background-color:#fea500
  }
